        <div class="col-xs-3 col-xs-pull-9">
          <ul class="nav nav-list">

                    {% for item in site.navigation %}
                    <li>
                    <a href="{{site.baseurl}}{{ item.link }}">
                        {{ item.title }}
                    </a>
                    </li>
                    {% endfor %}
                    <li>
                    <a href="http://amritamaz.net/blog">
                        Blog
                    </a>
                    </li>


         <br>
            
            <li><a href="mailto:amrita@cs.washington.edu">amrita@cs.uw.edu</a></li>
            <li><a href="http://www.twitter.com/amritamaz">@amritamaz</a></li>
            <li><a>CSE 352</a></li>
          </ul>
        </div>
