@import url(https://fonts.googleapis.com/css?family=Karla);


body {
  font-family: 'Karla', sans-serif;
}

.container-fluid {
  padding: 30px 15% 0 15%;
  max-width: 1200px;
  margin: auto;
}

#name {
  text-align: right;
  float: right;
  text-transform: lowercase;
}

#name a{
  color: #000;
}

a {
  color: #E07900;
}

a:hover {
  color: #E07900;
}

#logos {
float: left;
padding-bottom: 10px;
margin-top: 0px;
}

#logos img{
  height: 50px;
}


.nav li a {
  word-wrap: break-word;
  text-transform: lowercase;
  font-size: 1rem;
  letter-spacing: 2px;
padding: 0;
  color: #999 ;
  text-shadow: none;
}

.nav>li>a:hover {
background-color: #fff !important;
  color: #E07900  !important;

}

.nav li a:active {
  color: #33a5c8;
  background-color: #33a5c8;
}

#content{
  padding-top: 20px;
}

#name h1{
  line-height: normal;
  margin: 0;
  color: #33a5c8;
}

#name h2{
  line-height: normal;
  margin: 0;
  font-size: 12px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #999;
}

#post h1{
  font-size: 28px;
}

#post h2{
  font-size: 16px; 
}

footer{
  padding: 50px 0;
  color: #aaa;
  font-size: 12px;
  clear:both;
  text-align: center;
}

.news_date{
  color: #666;
}

.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;
  font-size: 0.8em;
  margin: 0.1em 0;
}

#post #date {
  line-height: normal;
  margin-top: -5px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #999; 
  letter-spacing: 1px;
  font-size: 12px;
}

#cv h2 {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-size: 12px;

}

#cv h3{
    font-size: 15px;
font-weight: 600;
}


/* media queries */

@media  (min-width: 800px) {
  .nav li a {
    font-size: 1.25rem;
  }
}

@media  (max-width: 580px) {
  #name{
    text-align: center;
  }
}


@media (max-width: 799px) and (min-width: 500px) {
  .nav li a {
    font-size: 1rem;
  }
}
@media (max-width: 499px)  {
  .nav li a {
    font-size: .75rem;
    font-weight: 700;
  }
  .nav li {
    display: list-item;
  }
}